/* Start Global Rules */
* {
  box-sizing: border-box;
}
body {
  font-family: 'Open Sans', sans-serif;
  background-image : url('https://j.top4top.io/p_29636o8sy1.png');
  height : 100vh;
}
a {
  text-decoration: none;
}
ul {
  list-style: none;
  padding: 0;
  margin: 0;
}
.container {
  padding-left: 15px;
  padding-right: 15px;
  margin-left: auto;
  margin-right: auto;
}
/* Small */
@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}
/* Medium */
@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}
/* Large */
@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}
/* End Global Rules */

/* Start Landing Page */
.nav-cat{
  height: 69px;
  width: 110px;
  cursor: pointer;
}
.landing-page header {
  min-height: 80px;
  display: flex;
}
@media (max-width: 767px) {
  .landing-page header {
    min-height: auto;
    display: initial;
  }
}
.landing-page header .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media (max-width: 767px) {
  .landing-page header .container {
    flex-direction: column;
    justify-content: center;
  }
}
.landing-page header .logo {
  color: #5d5d5d;
  font-style: italic;
  text-transform: uppercase;
  font-size: 20px;
}
@media (max-width: 767px) {
  .landing-page header .logo {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}
.landing-page header .links {
  display: flex;
  align-items: center;
}
@media (max-width: 767px) {
  .landing-page header .links {
    text-align: center;
    gap: 10px;
  }
}
.landing-page header .links li {
  margin-left: 30px;
  color: #674017;
  cursor: pointer;
  transition: .3s;
  font-family: system-ui;
}
@media (max-width: 767px) {
  .landing-page header .links li {
    margin-left: auto;
  }
}
.landing-page header .links li:last-child {
  border-radius: 2px;
  padding: 10px 20px;
  color: rgb(255 221 54);
  background-color: #703800;
}
.landing-page header .links li:not(:last-child):hover {
  color: #703800;
}
.landing-page .content .container {
  display: flex;
  align-items: center;
  justify-content: space-between;
  gap: 140px;
  min-height: calc(100vh - 80px);
}
@media (max-width: 767px) {
  .landing-page .content .container {
    gap: 0;
    min-height: calc(100vh - 101px);
    justify-content: center;
    flex-direction: column-reverse;
  }
}
@media (max-width: 767px) {
  .landing-page .content .info {
    text-align: center;
    margin-bottom: 15px 
  }
}
.landing-page .content .info h1 {
  color: #613516;
  font-size: 63px;
  font-weight: 800;
  line-height: 1em;
  font-family: 'Poppins', sans-serif;
  margin: 0px;
}
.landing-page .content .info p {
  margin: 0;
  line-height: 1.6;
  font-size: 22px;
  color: #000000;
  font-family: system-ui;
}
.landing-page .content .info button {
  border: 0;
  border-radius: 2px;
  padding: 12px 30px;
  margin-top: 30px;
  cursor: pointer;
  color: rgb(255 221 54);
  background-color: #703800;
  font-family: 'Montserrat', sans-serif;
  font-weight: 100;
}
.landing-page .content .image img {
  max-width: 108%;
  width: 1042px;
  height: 312px;
  margin-bottom: 191px;
}


/* HOVER ME*/
.svg-wrapper {
  height: 60px;
  margin: 0 auto;
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  width: 320px;
}

.shape {
  fill: transparent;
  stroke-dasharray: 165 540;
  stroke-dashoffset: -539;
  stroke-width: 8px;
  stroke: #674017;
}

.text {
  color: #fff;
  font-family: 'Montserrat';
  font-size: 21px;
  letter-spacing: 1px;
  line-height: 32px;
  position: relative;
  top: -70px;
  margin-left: 3px;
}

@keyframes draw {
  0% {
    stroke-dasharray: 140 540;
    stroke-dashoffset: -474;
    stroke-width: 8px;
  }
  100% {
    stroke-dasharray: 760;
    stroke-dashoffset: 0;
    stroke-width: 2px;
  }
}

.svg-wrapper:hover .shape {
  -webkit-animation: 0.5s draw linear forwards;
  animation: 0.5s draw linear forwards;
}

/* SECTION */
/* CSS styles optimized for the project */

/* Importing Google Font */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600&display=swap');

/* Base styling */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}

/* Variable definitions */
:root {
    /* Colors */ 
    --white_color: rgb(255, 255, 255);
    --orange_color: rgb(255, 165, 89);
    --orange_dark_color: rgb(255, 96, 0);
    --black_color: rgb(69, 69, 69);
    background-image : url('https://h.top4top.io/p_2963e20r41.jpeg');
    --font_color : rgb(255, 230, 199);
}

/* Header styling */
header {
    padding: 2rem 0;
    margin: 0 3rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
}

/* Logo styling */
.logo {
    width: 20rem;
    height: 6rem;
}

.logo img {
    width: 100%;
    height: 100%;
}

/* Heading styling */
h1 {
    color: var(--white_color);
    text-align: center;
    padding: 1rem;
    border-bottom: 0.2rem var(--orange_color) solid;
    text-transform: uppercase;
}

/* Card styling */ 
.cards_box {
    margin: 0 5rem;
    padding: 3.5rem 5rem;
}

a {
    text-decoration: none;
}  

img {
    display: block;
    max-width: 100%;
    height: auto;
}

.cards {
    max-width: 1120px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card_details {
    width: 300px;
    border-radius: 1.25rem;
    overflow: hidden;
}

.card_img_box {
    position: relative;
    background-color: var(--orange_color);
    padding-top: .75rem;
    margin-bottom: -.75rem;
}

.card_data {
    background: var(--black_color);
    padding: 1.5rem 2rem;
    border-radius: 1rem;
    text-align: center;
    position: relative;
    z-index: 10;
}

.card_img {
    width: 300px;
    border-radius: 1rem;
    margin: 0 auto;
    position: relative;
    z-index: 5;
}

.card_name {
    font-size: 1rem;
    color: var(--font_color);
    margin-bottom: .75rem;
}

.card_description {
    font-weight: 500;
    margin-bottom: 1.75rem;
    color: var(--white_color);
}

.card_button {
    display: inline-block;
    background-color: var(--orange_color);
    padding: .75rem 1.5rem;
    border-radius: .25rem;
    color: var(--white_color);
    font-weight: 600;
}

/* Swiper class */
  .swiper-button-prev:after,
  .swiper-button-next:after {
    content: "";
}

.swiper-button-prev, .swiper-button-next {
    width: initial;
    height: initial;
    font-size: 3rem;
    color: var(--orange_color);
}

.swiper-button-prev:hover, 
.swiper-button-next:hover {
    color: var(--orange_dark_color);
}

.swiper-button-prev {
    left: 0;
}

.swiper-button-next {
    right: 0;
}

.swiper-pagination-bullet {
    background-color:var(--orange_color);
    opacity: 1;
}

.swiper-pagination-bullet-active,
.card_button:hover {
    background-color: var(--orange_dark_color);
}

/* End Landing Page */